*.log
*.pyc
project_html/iotop.txt
project_html/top.txt
project_html/net.txt
project_html/test.txt
project_html/.idea/
project_html/__pycache__
project_html/app_fuzhou/migrations/__pycache__
project_html/app_fuzhou/__pycache__
project_html/project_html/__pycache__
project_html/node_modules
project_html/app_fuzhou/static/bundles/local
project_html/app_fuzhou/static/bundles/stage
!project_html/package.json
.idea
__pycache__
.cache/v/cache
project_html/app_fuzhou/static/json/share.json
project_html/project_html/settings.py
project_html/app_fuzhou/audit_backups
project_html/webpack-stats-local.json
