/**/

.mapContainer {
    position: absolute;
    z-index: 100;
}

#open_map {
    position: fixed;
    left: 90%;
    bottom: 20%;
}


/*3dMap 内部样式设置*/

#cesiumContainer {
    position: relative;
    /* border: 5px solid white; */
    width: 99%;
    background-color: #000;
}

.canvas-map {
    width: 100%;
    height: 100%;
    position: relative;
}
#cesiumContainerCanvas{
    position: absolute;top:52px;
    left: 0;
    width: 80%;
    height: 85%;
    z-index: 100;
}
.cesiumContainerLoading {
    display: table;
    width: 100%;
    height: 100%;
}

.cesiumContainerLoading h1 {
    display: table-cell;
    color: white;
    text-align: center;
    vertical-align: middle;
}


/*日志信息的模块--------------------------------------------------------*/

#cesiumContainer .displayWrapper {
    position: absolute;
    z-index: 200;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: #252830;
    border-left: 1px solid #FFF;
    margin: 0;
}

.displayRightPie {
    z-index: 100;
    width: 96%;
    height: 230px;
    margin-left: 2%;
    margin-right: 2%;
}

.displayRightPie .displayRightPieTop {
    width: 100%;
    height: 50%;
}

.displayRightCount {
    background: #2E323C;
    width: 63%;
    height: 83px;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 10%;
    padding: 4%;
    float: left;
}

.RightCount-left {
    float: left;
    width: 30%;
    height: 100%;
    position: relative;
    margin: 0;
}

.RightCount-left::before {
    position: absolute;
    left: -6px;
    top: -8px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #A1A6AD;
    border-left: 1px solid #A1A6AD;
}

.RightCount-left::after {
    position: absolute;
    left: -6px;
    bottom: -10px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #A1A6AD;
    border-left: 1px solid #A1A6AD;
}

.RightCount-right {
    position: relative;
    margin: 0;
    float: left;
    width: 70%;
    height: 100%;
    font-size: 48px;
    padding-top: 10%;
    text-align: right;
}

.RightCount-right::before {
    position: absolute;
    right: -6px;
    top: -8px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #A1A6AD;
    border-right: 1px solid #A1A6AD;
}

.RightCount-right::after {
    position: absolute;
    right: -6px;
    bottom: -10px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #A1A6AD;
    border-right: 1px solid #A1A6AD;
}

.displayRightFirstPie {
    float: left;
    width: 25%;
    text-align: center;
}

.DMap-pie-title {
    font-size: 10px;
    color: #A1A6AD;
}

.DMap-pie-num {
    z-index: 11;
    position: relative;
    top: -5px;
    text-align: center;
}

#DMap-pie1,
#DMap-pie2,
#DMap-pie3,
#DMap-pie4,
#DMap-pie5 {
    margin: auto;
    width: 100%;
}

.displayRightCenterNum {
    /* padding: 16px; */
    /* position: absolute;
    z-index: 100;
    top: 99px;
    right: 0;
    width: 96%;
    height: 18%;
    margin-left: 2%;
    margin-right: 2%; */
}

.displayRightCenterPie {
    float: left;
    width: 172px;
    height: 76px;
    background: #2E323C;
    margin-left: 14px;
    margin-bottom: 10px;
    padding: 10px;
}

.displayRightCenterNum1 {}

.displayCenterTitle {
    position: relative;
    width: 147px;
    height: 18px;
    font-size: 10px;
    color: #FFFFFF;
}

.displayCenterTitle::before {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #A1A6AD;
    border-left: 1px solid #A1A6AD;
}

.displayCenterTitle::after {
    position: absolute;
    right: -10px;
    top: -5px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #A1A6AD;
    border-right: 1px solid #A1A6AD;
}

.displayDecoration {
    background: url('../img/decoration_top.png');
    height: 5px;
    width: 364px;
    margin-left: 11px;
    margin-top: 90px;
}

.displayWrapper .titleName {
    background: #444851;
    width: 67px;
    float: left;
    text-align: center;
    font-size: 10px;
}

.titleNameBigNum {
    float: left;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 10px;
}

.titleNameBg {
    background: url("../img/pattern.png") repeat-x;
    background-size: cover;
    height: 100%;
    width: 80px;
    float: left;
}

.titleNameBigNubRight {
    float: right;
    text-align: right;
}

.titleNameKB {
    font-size: 10px;
    color: #A1A6AD;
}

.titleNameKBPer {
    font-size: 10px;
    color: #F28321;
}

.displayCenterTitleLine {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 0px;
    background: #444851;
}

.displayCenterTitleLine::before {
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #A1A6AD;
    border-left: 1px solid #A1A6AD;
}

.displayCenterTitleLine::after {
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #A1A6AD;
    border-right: 1px solid #A1A6AD;
}

.DMap-LineWarpper .titleName {
    margin-top: 10px;
}

.DMap-LineWarpper {
    height: 178px;
    width: 90%;
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 20px;
    position: relative;
}

.DMap-LineWarpper::before {
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #A1A6AD;
    border-left: 1px solid #A1A6AD;
}

.DMap-LineWarpper::after {
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #A1A6AD;
    border-right: 1px solid #A1A6AD;
}

#DMap-Line {
    position: relative;
    margin: 0;
}

#DMap-Line::before {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #A1A6AD;
    border-left: 1px solid #A1A6AD;
}

#DMap-Line::after {
    position: absolute;
    right: 14px;
    top: -5px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #A1A6AD;
    border-right: 1px solid #A1A6AD;
}

.displayWrapper::before {
    position: absolute;
    top: 0;
    left: -1px;
    z-index: 201;
    background: #252830;
    width: 1px;
    height: 89px;
}

.displayWrapper::after {
    position: absolute;
    bottom: 0;
    left: -1px;
    z-index: 201;
    background: #252830;
    width: 1px;
    height: 147px;
}
#scrollDisplay{
    overflow: hidden;
    position: absolute;
    z-index: 100;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 234px;
}
#cesiumContainer .displayContainer {
    
}

.displayContainer-title {
    height: 16px;
    background: #444851;
    margin: 40px 10px 0 18px;
    text-align: center;
    width: 100%;
}

.displayContainer-title>div {
    float: left;
    font-size: 10px;
    color: #A1A6AD;
}

.displayContainer-title>div:first-child {
    width: 15%;
}

.displayContainer-title>div:nth-child(2) {
    width: 22%;
}

.displayContainer-title>div:nth-child(3) {
    width: 33%;
}

.displayContainer-title>div:nth-child(4) {
    width: 30%;
}


/*日志列表*/

.display-title {
    height: 16px;
    background: #444851;
    width: 80%;
    text-align: center;
}

#cesiumContainer .displayPanel {
    background-color: #252830;
    padding: 0;
    overflow: hidden;
}

.displayPanel table th,
.displayPanel table td {
    line-height: 20px;
    padding: 10px 0 10px 10px;
    word-wrap: break-word;
}


/*底部的更新时间*/

#cesiumContainer .refreshTime {
    position: absolute;
    z-index: -1;
    right: 30px;
    color: #a1a6ad;
    font-size: 12px;
}


/*日志信息模块中提示信息的样式*/

#cesiumContainer .displayPanel .logsLoading {
    color: #fff;
    text-align: center;
}

#cesiumContainer .displayPanel .logs-info {
    color: #F6A623;
    text-align: center;
}

#cesiumContainer .displayPanel .logs-alert {
    color: #ff4607;
}

#cesiumContainer .displayPanel .logs-content-table {
    background-color: transparent;
    width: 100%;
    font-size: 10px;
    text-align: center;
    position: relative;
    height: 100%;
}

.animationList{

}
.logs-content-table thead {
    position: absolute;
    top: -30px;
}

.logs-content-table thead tr {
    text-align: center;
    color: white;
}

.logs-content-table thead th {
    line-height: 10px;
    padding-left: 10px;
}

.logs-content-table tbody tr,
.logs-content-table thead tr {
    background-color: transparent;
    height: 20px;
    font-size: 10px;
}

.logs-content-table td {
    background-color: transparent;
    line-height: 12px;
    padding-left: 10px;
}

.logs-content-table tbody tr:nth-child(n) {
    background-color: transparent;
}

.logs-content-table .logs-time,
.logs-type {
    width: 20%;
    color: white;
}

.logs-content-table .logs-des-ip,
.logs-source-ip {
    width: 30%;
}

.logs-content-table tbody tr td:nth-child(2n) {
    color: white;
}


/*日志列表滚屏样式*/

#cesiumContainer .displayPanel .logs-map-list {
    font-size: 12px;
    padding: 10px 0;
    position: relative;
}


/*日志列表项的样式*/


/*攻击来源列的样式*/

#cesiumContainer .displayPanel .logs-map-list .logs-source-ip {
    margin-bottom: 2px;
    color: #F6A623;
}


@keyframes logslive {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -95%);
    }
}

@-webkit-keyframes logslive
/*Safari and Chrome*/

{
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -95%);
    }
}

.Dmap-title {
    z-index: 111;
    position: absolute;
    bottom: top;
    width: 28%;
    height: 89px;
    background: #252830;
    border-bottom: 1px solid #fff;
}

.Dmap-title .Dmap-title-number {
    width: 60%;
    height: 70%;
    position: absolute;
    top: 42%;
    left: 3%;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}

.Dmap-title .Dmap-title-number::before {
    position: absolute;
    right: 0;
    top: -10px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #A1A6AD;
    border-right: 1px solid #A1A6AD
}

.Dmap-title .Dmap-title-number::after {
    position: absolute;
    left: 14px;
    top: -10px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #A1A6AD;
    border-left: 1px solid #A1A6AD
}

.Dmap-title-time {
    background: #2E323C;
    width: 34%;
    height: 64%;
    position: absolute;
    top: 22%;
    right: 6%;
    font-size: 24px;
    color: #FFFFFF;
    padding-left: 25px;
}

.Dmap-title-time::after {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 0px;
    height: 0px;
    border-top: 18px solid rgba(0, 0, 0, 0);
    border-right: 18px solid rgba(0, 0, 0, 0);
    border-bottom: 18px solid #252830;
    border-left: 18px solid rgba(0, 0, 0, 0);
    transform: translate(18px);
}

.Dmap-title-line {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #F28321;
    margin: 0;
}

.Dmap-title-line::before {
    position: absolute;
    left: 316px;
    top: -22px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #A1A6AD;
    border-right: 1px solid #A1A6AD;
}

.Dmap-title-line::after {
    position: absolute;
    left: 14px;
    top: -22px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #A1A6AD;
    border-left: 1px solid #A1A6AD;
}

.DmaptitleHypotenuse {
    position: absolute;
    top: 0;
    left: 28%;
    z-index: 100;
    width: 2%;
    height: 88px;
    background:url('../img/top_left.png');
}


.DmapCopyRight {
    position: absolute;
    left: 30%;
    top: 0;
    z-index: 111;
    height: 52px;
    border-bottom: 1px solid #fff;
    width: 48%;
    background: #252830;
}

.DmaptitleRightHypotenuse {
    position: absolute;
    top: 0;
    left: 78%;
    z-index: 100;
    width: 2%;
    height: 90px;
    background:url('../img/top_right.png');
}

.DmaptitleRighttras {
    width: 0px;
    height: 0px;
    border-bottom: 25px solid rgba(0, 0, 0, 0);
    border-right: 25px solid rgba(0, 0, 0, 0);
    border-top: 25px solid #000;
    border-left: 25px solid rgba(0, 0, 0, 0);
    transform: rotate(-45deg);
    position: relative;
    bottom: -65px;
    left: -25px;
    margin: 0px;
    transform: rotate(45deg);
}

.DmaptitleRighttras::before {
    width: 55px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: -28px;
    top: -27px;
}

.displayHypotenuse {
    position: absolute;
    bottom: 0;
    left: 78%;
    z-index: 100;
    width: 2%;
    height: 151px;
    background:url('../img/buttom_right.png');
}



/*攻击类型模块*/

.AttackContainer {
    font-size: 10px;
    background: #252830;
    text-align: center;
    bottom: 0;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 78%;
    border-top: 1px solid #A1A6AD;
}


/*攻击类型图标*/

.AttackContainer .type-icons,
.attack-type i {
    display: inline-block;
    cursor: pointer;
}

.AttackContainer>.type {
    float: left;
    /* display: inline-block; */
    width: 20%;
    height: 100%;
}

.AttackContainer .clicked .row {
    opacity: 0.4;
}

.AttackContainer .type-icons {
    height: 70%;
    margin-top: 6%;
    width: 85%;
    position: relative;
}

.AttackContainer .type-icons::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 8px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff
}

.AttackContainer .type-icons::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
    height: 8px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff
}

.AttackContainer .type-icons-bottom {
    content: ' ';
    height: 1px;
    width: 85%;
    position: relative;
    margin-left: 7%;
}

.AttackContainer .type-icons-bottom::before {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff
}

.AttackContainer .type-icons-bottom::after {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff
}

.type-icons-bg {
    background: url("../img/pattern.png") repeat-x;
    background-size: cover;
    height: 18px;
    width: 40%;
    float: left
}

.http-defense-left,
.identification-error-left,
.sensitive-data-tracking-left,
.web-attack-left,
.dos-attack-left {
    background: url("../img/mapImg/http_attack.svg") no-repeat;
    background-size: cover;
    width: 19%;
    height: 63%;
    float: left;
    position: absolute;
    top: 18%;
    left: 5%;
}

.dos-attack-left {
    background: url("../img/mapImg/dos_attack.svg") no-repeat;
    background-size: cover;
}

.identification-error-left {
    background: url("../img/mapImg/identification.svg") no-repeat;
    background-size: cover;
}

.web-attack-left {
    background: url("../img/mapImg/web_attack.svg") no-repeat;
    background-size: cover;
}

.sensitive-data-tracking-left {
    background: url("../img/mapImg/data_tracking.svg") no-repeat;
    background-size: cover;
}

.http-defense-right {
    width: 67%;
    height: 80%;
    float: left;
    position: absolute;
    top: 9%;
    right: 5%;
}

.http-defense .count {
    color: #F6A623;
}

.dos-attack .count {
    color: #F6A623;
}

.web-attack .count {
    color: #F6A623;
}

.sensitive-data-tracking .count {
    color: #F6A623;
}

.identification-error .count {
    color: #F6A623;
}


/*全屏样式*/

.cesium-viewer-fullscreenContainerNewStyle {
    position: relative;
    display: inline-block;
    margin: 0 3px;
}

.cesium-viewer-fullscreenContainerNewStyle .cesium-button.cesium-fullscreenButton {
    box-sizing: border-box;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 14%;
    padding: 0;
    vertical-align: middle;
    z-index: 0;
}

.cesium-viewer-toolbar {
    top: 25px;
    right: 20px;
}


/*提示框样式*/

.cesium-infoBox {
    top: 70px;
    right: 20px;
}

.cesium-viewer-toolbar {
    right: 50px;
}

.cesium-viewer-fullscreenContainer {
    top: 25px;
    right: 10px;
    width: 32px;
    height: 32px;
    margin: 2px 3px;
    border-radius: 14%;
}

.cesium-button.cesium-fullscreenButton {
    border-radius: 14%;
}


/*3dMap 弹窗样式*/

#dmap-notSupport .modal-body {
    padding: 30px;
}

.modal-open #dmap {
    padding: 0 !important;
    overflow: auto;
}

#dmap {
    width: 1920px;
    height: 1080px;
    /* width: 100%;
    height: 100%; */
    margin: 0;
    background-color: #000;
}
#dmap .closeDMap{
    display: block;
    z-index: 300;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 43px;
    cursor: pointer;
    color: #a1a6ad;
}
#dmap .modal-dialog .modal-content {
    border: 0;
    
    border-radius: 0px;
    /*delete the previous style*/
    height: 100%;
}

#dmap .modal-dialog .modal-content .modal-header {
    border-radius: 2px;
    height: 0;
    border: 0;
    padding: 0;
}

#dmap .modal-dialog .modal-content .modal-header .close {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 20px;
    z-index: 300;
}


/**/

#dmap .modal-dialog .modal-content .modal-header .close {
    color: #fff;
    opacity: 0.5;
    font-weight: 100;
    font-size: 70px;
}

#dmap .modal-dialog .modal-content .modal-header .close:focus,
#dmap .modal-dialog .modal-content .modal-header .close:hover {
    opacity: 1;
}

#dmap .modal-dialog .modal-content .modal-body {
    padding: 0;
    height: 100%;
}


/*删除版权信息*/

#dmap .cesium-viewer-bottom {
    display: none;
}


/*点击后出现的攻击详细信息*/

.ItemsDetailBlocker {
    position: absolute;
    left: 530px;
    top: -80px;
    z-index: 999;
    width: 50%;
    height: 50%;
    display: none;
}


/*当前位置*/

.location {
    position: absolute;
    bottom: 40px;
    margin-left: -15%;
    color: #000;
}


/*攻击信息详情的窗口*/

.itemsPanel {
    position: absolute;
    right: 0;
    width: 220px;
    height: 232px;
    font-size: 12px;
    bottom: 15%;
    background-color: rgba(18, 18, 18, 0.7);
    padding: 24px;
}

.itemsPanel .btn-close {
    position: absolute;
    display: inline-block;
    width: 10px;
    top: 10px;
    right: 10px;
    background: transparent;
    color: white;
}

.inner-title {
    font-size: 10px;
    color: #fff;
}

.inner-text {
    font-size: 10px;
    color: #fff;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
}


/**/

::selection {
    background: black;
    color: white;
}

::-webkit-selection {
    background: black;
    color: white;
}

::-moz-selection {
    background: black;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

del,
ins {
    text-decoration: none;
}


/*unset del's default strike-trough style, plus ins' underlined*/

.t-caret {
    color: #fff;
    display: none;
}


/*styling the caret class*/

.t-container {
    top: auto;
    bottom: auto;
}